Repository holypower777/global-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js, yarn lint:css

husky config added
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

husky config fix
  .husky/pre-commit
Due: none

Added: new icon, header, useOnClickOutside hook; minor fixes
  global-chat.json
  packages/platform-components/index.ts
  packages/platform-components/src/components/button/button.scss
  packages/platform-components/src/components/header/__menu/header__menu.scss
  packages/platform-components/src/components/header/__menu/header__menu.tsx
  packages/platform-components/src/components/header/header.scss
  packages/platform-components/src/components/header/header.tsx
  packages/platform-components/src/components/icon/__category/icon__category.scss
  packages/platform-components/src/components/icon/__category/icon__category.tsx
  packages/platform-components/src/components/icon/__ez/icon__ez.scss
  packages/platform-components/src/components/icon/icon.scss
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/input/input.scss
  packages/platform-components/src/components/input/input.tsx
  packages/platform-components/src/components/logo/logo.scss
  packages/platform-components/src/components/tabs/__tab-item/tabs__tab-item.scss
  packages/platform-components/src/design/main.scss
  packages/platform-components/src/hooks/useOnClickOutside.tsx
  packages/platform-components/src/hooks/useWindowSize.tsx
  packages/platform-components/stories/common/input.story.tsx
  packages/platform-components/stories/constants.ts
  packages/platform-components/stories/header/header.story.tsx
  packages/platform-components/stories/header/menu.story.tsx
Due: yarn lint:js, yarn lint:css

hook added to global export
  packages/platform-components/src/hooks/index.ts
Due: yarn lint:js

Added: jest, rubricator columns distibution, minor fixes
  .gitignore
  .lintstagedrc
  package.json
  packages/platform-components/src/components/rubricator/__block/rubricator__block.scss
  packages/platform-components/src/components/rubricator/rubricator.scss
  packages/platform-components/src/components/rubricator/rubricator.tsx
  packages/platform-components/src/utils/get-sum-of-array.ts
  packages/platform-components/src/utils/index.ts
  packages/platform-components/src/utils/split-into-columns.test.ts
  packages/platform-components/src/utils/split-into-columns.ts
  packages/platform-components/stories/common/heatmap.story.tsx
  packages/platform-components/stories/rubricator/rubricator.story.tsx
  packages/twitch-chat/package.json
  packages/twitch-chat/src/app.tsx
  webpack.config.js
  yarn.lock
Due: yarn lint:js, yarn lint:css

Mobile addaptive added for user-history
  global-chat.json
  package.json
  packages/app/src/components/user-history/channels/channels.scss
  packages/app/src/components/user-history/chat/chat.scss
  packages/app/src/components/user-history/chat/chat.tsx
  packages/app/src/components/user-history/user-history.scss
  packages/app/src/components/user-history/user-history.tsx
  packages/platform-apis/api-defs.ts
  packages/platform-components/index.ts
  packages/platform-components/src/components/chat-date/chat-date.scss
  packages/platform-components/src/components/chat-message/chat-message.scss
  packages/platform-components/src/components/chat-message/format-message.tsx
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/rubricator/__alphabet/rubricator__alphabet.scss
  packages/platform-components/src/components/rubricator/__alphabet/rubricator__alphabet.tsx
  packages/platform-components/src/components/rubricator/rubricator.scss
  packages/platform-components/src/components/rubricator/rubricator.tsx
  packages/platform-components/src/components/spin/spin.scss
  packages/platform-components/src/components/user-card/user-card.scss
  packages/platform-components/src/design/breakpoints.scss
  packages/platform-components/src/design/main.scss
Due: yarn lint:js, yarn lint:css

Added: settings store and component, badges in front of messages, rtkq to recieve sub badges from twitch, some minor fixes
  global-chat.json
  packages/app/src/components/user-history/chat/chat.scss
  packages/app/src/components/user-history/chat/chat.tsx
  packages/app/src/store/slices/settings.ts
  packages/app/src/store/store.ts
  packages/platform-apis/api-defs.ts
  packages/platform-apis/index.ts
  packages/platform-apis/slices/subcriber-badges.ts
  packages/platform-components/index.ts
  packages/platform-components/src/components/chat-message/__badges/badge.tsx
  packages/platform-components/src/components/chat-message/__badges/chat-message__badges.scss
  packages/platform-components/src/components/chat-message/__badges/chat-message__badges.tsx
  packages/platform-components/src/components/chat-message/__badges/common-badges.ts
  packages/platform-components/src/components/chat-message/chat-message.tsx
  packages/platform-components/src/components/chat-message/format-message.tsx
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/icon/__arrow/icon__arrow.tsx
  packages/platform-components/src/components/icon/__category/icon__category.tsx
  packages/platform-components/src/components/icon/__cog/icon__cog.scss
  packages/platform-components/src/components/icon/__cog/icon__cog.tsx
  packages/platform-components/src/components/icon/__ez/icon__ez.tsx
  packages/platform-components/src/components/icon/__search/icon__search.tsx
  packages/platform-components/src/components/icon/__user/icon__user.tsx
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/switcher/switcher.scss
  packages/platform-components/src/components/switcher/switcher.tsx
  packages/platform-components/src/components/text/text.scss
  packages/platform-components/src/components/text/text.tsx
  packages/platform-components/src/components/user-card/__header/user-card__header.scss
  packages/platform-components/src/components/user-card/__header/user-card__header.tsx
  packages/platform-components/src/components/user-card/__settings/user-card__settings.scss
  packages/platform-components/src/components/user-card/__settings/user-card__settings.tsx
  packages/platform-components/src/components/user-card/user-card.tsx
  packages/platform-components/src/hooks/index.ts
  packages/platform-components/src/hooks/useLocalStorage.ts
  packages/platform-components/src/hooks/useOnClickOutside.ts
  packages/platform-components/src/hooks/useWindowSize.ts
  packages/platform-components/stories/chat/chat-message.story.tsx
  packages/platform-components/stories/chat/user-card.story.tsx
  packages/platform-components/stories/common/switcher.story.tsx
Due: yarn lint:js, yarn lint:css

Added: home page, some fixes in webpack config due to conflict of react-router-dom v6
  global-chat.json
  package.json
  packages/app/package.json
  packages/app/src/app.tsx
  packages/app/src/components/home/home.scss
  packages/app/src/components/home/home.tsx
  packages/app/webpack.config.js
  webpack.config.js
  yarn.lock
Due: yarn lint:js, yarn lint:css

Added: link managment, minor fix
  package.json
  packages/app/package.json
  packages/app/src/app.tsx
  packages/app/src/components/home/home.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/webpack.config.js
  packages/app/yarn.lock
  packages/platform-components/src/components/chat-message/__badges/chat-message__badges.tsx
  packages/platform-components/src/components/header/header.tsx
  packages/platform-components/src/components/rubricator/__block/rubricator__block.scss
  packages/platform-components/src/components/rubricator/__block/rubricator__block.tsx
  packages/platform-components/yarn.lock
  yarn.lock
Due: yarn lint:js, yarn lint:css

Added: swipe library and more mobile layout fixes
  packages/app/package.json
  packages/app/src/components/user-history/channels/channels.tsx
  packages/app/src/components/user-history/user-history.scss
  packages/app/src/components/user-history/user-history.tsx
  packages/platform-apis/slices/subcriber-badges.ts
  packages/platform-apis/types/messages.ts
  packages/platform-apis/types/user.ts
  packages/platform-components/src/components/header/__menu/header__menu.scss
  packages/platform-components/src/components/header/__menu/header__menu.tsx
  packages/platform-components/src/components/header/header.scss
  packages/platform-components/src/components/tabs/__tab-item/tabs__tab-item.scss
  packages/platform-components/src/components/tabs/__tab-item/tabs__tab-item.tsx
  packages/platform-components/src/components/tabs/tabs.tsx
  packages/platform-components/stories/common/tabs.story.tsx
  yarn.lock
Due: yarn lint:js, yarn lint:css

Added: rubricator smooth scrolling to block
  packages/platform-components/src/components/rubricator/__alphabet/rubricator__alphabet.tsx
  packages/platform-components/src/components/tabs/tabs.tsx
Due: yarn lint:js

Added: icons, possibility block, dev-page; Header refactoring, moved to common.components
  global-chat.json
  packages/app/src/app.tsx
  packages/app/src/common.components/common-header/common-header.tsx
  packages/app/src/common.components/index.ts
  packages/app/src/components/dev-page/dev-page.scss
  packages/app/src/components/dev-page/dev-page.tsx
  packages/app/src/components/home/home.tsx
  packages/app/src/components/user-history/user-history.scss
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/store/slices/messages.ts
  packages/platform-components/index.ts
  packages/platform-components/package.json
  packages/platform-components/src/components/header/header.tsx
  packages/platform-components/src/components/icon/__bug/icon__bug.scss
  packages/platform-components/src/components/icon/__bug/icon__bug.tsx
  packages/platform-components/src/components/icon/__donate/icon__donate.scss
  packages/platform-components/src/components/icon/__donate/icon__donate.tsx
  packages/platform-components/src/components/icon/__more-circle/icon__more-circle.scss
  packages/platform-components/src/components/icon/__more-circle/icon__more-circle.tsx
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/logo/logo.tsx
  packages/platform-components/src/components/possibilities/__bug/possibilities__bug.tsx
  packages/platform-components/src/components/possibilities/__donate/possibility__donate.tsx
  packages/platform-components/src/components/possibilities/possibilities.scss
  packages/platform-components/src/components/possibilities/possibilities.tsx
  packages/platform-components/src/components/smile-block/smile-block.scss
  packages/platform-components/src/components/smile-block/smile-block.tsx
  packages/platform-components/src/components/user-card/__settings/user-card__settings.scss
  packages/platform-components/src/design/main.scss
  packages/platform-components/src/design/transitions.scss
  packages/platform-components/stories/common/possibilities.story.tsx
  packages/platform-components/stories/constants.ts
  packages/platform-components/stories/smiles/smile-block.story.tsx
  yarn.lock
Due: yarn lint:js, yarn lint:css

hotfix due to direct test
  packages/app/src/components/user-history/chat/__messages/chat__messages.tsx
Due: yarn lint:js

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

webpack config changes; minor bug fixes
  .gitignore
  global-chat.json
  packages/app/package.json
  packages/app/src/app.tsx
  packages/app/src/components/live-chat/live-chat.scss
  packages/app/src/components/live-chat/live-chat.tsx
  packages/app/src/store/slices/settings.ts
  packages/app/src/store/store.ts
  packages/app/webpack.config.js
  packages/app/webpack.prod.js
  packages/platform-components/src/components/chat-message/__badges/chat-message__badges.tsx
  packages/platform-components/src/components/possibilities/__language/possibilities__language.tsx
  packages/platform-components/src/components/possibilities/possibilities.scss
  packages/platform-components/src/design/main.scss
  packages/platform-components/src/utils/get-default-language.ts
  packages/platform-components/src/utils/index.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: yarn lint:js, yarn lint:css

several plugins + titles
  global-chat.json
  package.json
  packages/app/package.json
  packages/app/src/components/dev-page/dev-page.tsx
  packages/app/src/components/home/home.tsx
  packages/app/src/components/live-chat/live-chat.tsx
  packages/app/src/components/overall-stats/overall-stats.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/webpack.config.js
  packages/app/webpack.prod.js
  static/favicon.ico
  webpack.config.js
  yarn.lock
Due: yarn lint:js

Update README.md
  docs/README.md
Due: none

several bug fixes; notification now clickable; picked channel now clickable too; flagsmith added; donate is now visible; added support to find next random user
  global-chat.json
  packages/app/package.json
  packages/app/src/app.tsx
  packages/app/src/components/home/home.tsx
  packages/app/src/components/live-chat/live-chat.tsx
  packages/app/src/components/overall-stats/overall-stats.tsx
  packages/app/src/components/user-history/channels/channels.tsx
  packages/app/src/components/user-history/chat/chat.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/store/slices/notifications.ts
  packages/app/src/utils/generate-notification.ts
  packages/app/src/utils/validate.ts
  packages/app/webpack.config.js
  packages/platform-apis/api-defs.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/types/twitch-user-channel.ts
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/notifications/__snackbar/notifications__snackbar.scss
  packages/platform-components/src/components/notifications/__snackbar/notifications__snackbar.tsx
  packages/platform-components/src/components/possibilities/__donate/possibilities__donate.tsx
  packages/platform-components/src/components/possibilities/possibilities.tsx
  packages/platform-components/src/components/skeleton/__overall-stats/skeleton__overall-stats.tsx
  packages/platform-components/src/components/skeleton/skeleton.tsx
  packages/platform-components/src/components/text/text.tsx
  packages/platform-components/src/components/user-card/__header/user-card__header.tsx
  packages/platform-components/src/components/user-card/__stats/user-card__stats.tsx
  packages/platform-components/src/typings/notification.ts
  yarn.lock
Due: yarn lint:js, yarn lint:css

minor bug fixes
  global-chat.json
  packages/app/src/components/live-chat/live-chat.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/utils/validate.ts
Due: yarn lint:js

html template added to webpack config
  packages/app/src/app.tsx
  packages/app/webpack.prod.js
  static/index.html
Due: yarn lint:js

added watermark, readme docs, how it works; webpack filename hash change; bug fixes: https://github.com/holypower777/global-chat/issues/7
  docs/README.md
  docs/folder-structure/README.md
  docs/general/README.md
  docs/how-it-works/README.md
  docs/how-it-works/diagram.png
  global-chat.json
  packages/app/src/app.tsx
  packages/app/src/components/user-history/channels/channels.tsx
  packages/app/src/components/user-history/chat/__messages/chat__messages.tsx
  packages/app/src/components/user-history/chat/__messages/infinite-scroll-wrapper.tsx
  packages/app/src/components/user-history/chat/chat.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/containers/watermark-provider/watermark-provider.tsx
  packages/app/src/containers/watermark-provider/watermark.scss
  packages/app/webpack.prod.js
  packages/platform-components/src/components/notifications/__snackbar/notifications__snackbar.scss
  packages/platform-components/src/components/possibilities/possibilities.scss
  packages/platform-components/src/components/possibilities/possibilities.tsx
  packages/platform-components/src/design/main.scss
Due: yarn lint:js, yarn lint:css

watermark and notification bug fix; new feature: reply message
  docs/README.md
  global-chat.json
  packages/app/src/components/user-history/chat/__messages/chat__message.tsx
  packages/app/src/components/user-history/chat/__messages/chat__messages.tsx
  packages/app/src/components/user-history/chat/__messages/infinite-scroll-wrapper.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/containers/watermark-provider/watermark.scss
  packages/app/src/store/slices/channels.ts
  packages/platform-components/src/components/chat-message/chat-message.scss
  packages/platform-components/src/components/chat-message/chat-message.tsx
  packages/platform-components/src/components/chat-message/format-message.tsx
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/header/header.scss
  packages/platform-components/src/components/header/header.tsx
  packages/platform-components/src/components/icon/__reply/icon__reply.scss
  packages/platform-components/src/components/icon/__reply/icon__reply.tsx
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/notifications/notifications.scss
  packages/platform-components/src/components/user-card/__header/user-card__header.tsx
  packages/platform-components/stories/chat/chat-message.story.tsx
Due: yarn lint:js, yarn lint:css

FR-1: RazDva search bug; split into columns previously had ability to return not equal to columns amount array
  packages/platform-components/src/components/rubricator/rubricator.tsx
  packages/platform-components/src/utils/split-into-columns.test.ts
  packages/platform-components/src/utils/split-into-columns.ts
Due: yarn lint:js

FR-4: Reply highlight
  packages/app/src/components/user-history/channels/channels.tsx
  packages/app/src/components/user-history/chat/__messages/chat__messages.tsx
Due: yarn lint:js

FR-10: При загрузке сообщений скролл переходит к первому сообщению
  packages/app/src/components/user-history/chat/__messages/chat__messages.tsx
  packages/app/src/components/user-history/chat/__messages/infinite-scroll-wrapper.tsx
Due: yarn lint:js

FR-8: Графики статистики по сообщениям в день
  global-chat.json
  packages/app/src/components/overall-stats/__plots/overall-stats__plots.tsx
  packages/platform-components/src/utils/index.ts
  packages/platform-components/src/utils/split-into-chunks.ts
Due: yarn lint:js

FR-9: График онлайн каналов по времени
  global-chat.json
  packages/app/src/components/overall-stats/__plots/overall-stats__plots.tsx
  packages/app/src/store/slices/overall-stats.ts
  packages/platform-apis/types/overall-stats.ts
Due: yarn lint:js

FR-7: Двойной поиск по нажатию enter
  packages/app/src/common.components/common-header/common-header.tsx
Due: yarn lint:js

FR-12: парсинг meta тега на username_history
  global-chat.json
  packages/app/src/components/user-history/chat/chat.tsx
  packages/platform-apis/types/twitch-user.ts
  packages/platform-components/src/components/user-card/__content/user-card__content.tsx
  packages/platform-components/src/components/user-card/__stats/user-card__stats.tsx
  packages/platform-components/src/components/user-card/user-card.tsx
  packages/platform-components/stories/chat/user-card.story.tsx
Due: yarn lint:js

FR-11: тайтл на время
  packages/platform-components/src/components/chat-message/chat-message.tsx
  packages/platform-components/src/components/text/text.tsx
  packages/platform-components/src/utils/format-date.ts
Due: yarn lint:js

FR-17: разделитель чисел для overallstats
  packages/app/src/components/overall-stats/__stats/overall-stats__stats.tsx
Due: yarn lint:js

FR-18: добавить звук у при поиске grpzdc
  packages/app/src/components/user-history/user-history.tsx
Due: yarn lint:js

FR-13: ссылка на twitchtracker.com
  global-chat.json
  packages/platform-components/src/components/icon/__twitchtracker/icon__twitchtracker.scss
  packages/platform-components/src/components/icon/__twitchtracker/icon__twitchtracker.tsx
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/user-card/__header/user-card__header.scss
  packages/platform-components/src/components/user-card/__header/user-card__header.tsx
  packages/platform-components/src/components/user-card/user-card.tsx
Due: yarn lint:js, yarn lint:css

FR-19: обновление футера, убрать possibilities
  global-chat.json
  packages/app/src/app.tsx
  packages/app/src/common.components/common-footer/common-footer.scss
  packages/app/src/common.components/common-footer/common-footer.tsx
  packages/app/src/components/dev-page/dev-page.scss
  packages/app/src/containers/possibilities-provider/possibilities-provider.tsx
  packages/app/src/containers/watermark-provider/watermark-provider.tsx
  packages/app/src/containers/watermark-provider/watermark.scss
  packages/platform-components/index.ts
  packages/platform-components/src/components/icon/__twitchtracker/icon__twitchtracker.tsx
  packages/platform-components/src/components/notifications/__snackbar/notifications__snackbar.scss
  packages/platform-components/src/components/notifications/notifications.scss
  packages/platform-components/src/components/possibilities/__bug/possibilities__bug.scss
  packages/platform-components/src/components/possibilities/__bug/possibilities__bug.tsx
  packages/platform-components/src/components/possibilities/__donate/possibilities__donate.tsx
  packages/platform-components/src/components/possibilities/__github/possibilities__github.tsx
  packages/platform-components/src/components/possibilities/__idea/possibilities__idea.tsx
  packages/platform-components/src/components/possibilities/__language/possibilities__language.tsx
  packages/platform-components/src/components/possibilities/possibilities.scss
  packages/platform-components/src/components/possibilities/possibilities.tsx
  packages/platform-components/src/components/user-card/__header/user-card__header.scss
  packages/platform-components/src/design/colors.scss
  packages/platform-components/src/design/main.scss
  packages/platform-components/stories/common/possibilities.story.tsx
Due: yarn lint:js, yarn lint:css

FR-23: twitch стиль нотификейшена
  global-chat.json
  packages/app/src/components/user-history/user-history.tsx
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/notifications/__snackbar/notifications__snackbar.scss
  packages/platform-components/src/components/notifications/__snackbar/notifications__snackbar.tsx
Due: yarn lint:js, yarn lint:css

Path conditions:
  yarn lint:js: any of: *.{js,jsx,ts,tsx}
  yarn lint:css: any of: *.{css,scss}
