Repository holypower777/global-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js, yarn lint:css, yarn test

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [yarn lint:js],
    "*.{css,scss}": [yarn lint:css],
    "*.{test.ts,test.js,test.tsx}": [yarn test]
}

stylelint search-input fix
  packages/tgc/src/common.components/search-input/__suggestions/search-input__suggestions.scss
  packages/tgc/src/common.components/search-input/search-input.scss
Due: yarn lint:css

FR-54: новый тег в компонент текста
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/text/text.tsx
  packages/tgc/src/common.components/common-footer/common-footer.tsx
Due: yarn lint:js

FR-54: новый тег в компонент текста
  packages/platform-components/src/components/text/text.test.tsx
  packages/platform-components/src/components/text/text.tsx
  packages/tgc/src/common.components/common-footer/common-footer.tsx
Due: yarn lint:js, yarn test

FR-54: новый тег в компонент текста
  packages/platform-components/src/components/text/text.test.tsx
Due: yarn lint:js, yarn test

FR-52: api mocks
  packages/platform-apis/api-endpoints-mode.ts
  packages/platform-apis/mocks/index.ts
  packages/platform-apis/mocks/twitch-user.ts
  packages/platform-apis/package.json
  packages/platform-apis/slices/auth.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/utils/getRandomFromArray.ts
  packages/platform-apis/utils/mockFetchBase.ts
  packages/tgc/src/app.tsx
  packages/tgc/src/pages/home/home.tsx
  packages/tgc/src/types/global.d.ts
  packages/tgc/webpack.config.js
  packages/tgc/webpack.prod.js
  yarn.lock
Due: yarn lint:js

FR-52: api mocks
  .eslintrc.js
  packages/platform-apis/api-defs.ts
  packages/platform-apis/mocks/index.ts
  packages/platform-apis/mocks/twitch-user.ts
  packages/platform-apis/package.json
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/types/auth.ts
  packages/platform-apis/types/index.ts
  packages/platform-apis/utils/convertApiToDTO.test.ts
  packages/platform-apis/utils/mockFetchBase.ts
  packages/platform-apis/utils/randDisplayName.ts
  packages/platform-components/src/components/button/button.stories.tsx
  packages/platform-components/src/components/header-text/header-text.stories.tsx
  packages/platform-components/src/components/hint/hint.stories.tsx
  packages/platform-components/src/components/icon/icon.stories.tsx
  packages/platform-components/src/components/input/input.stories.tsx
  packages/platform-components/src/components/plug/plug.stories.tsx
  packages/platform-components/src/components/segmented-toggle/segmented-toggle.stories.tsx
  packages/platform-components/src/components/spin/spin.stories.tsx
  packages/platform-components/src/components/switcher/switcher.stories.tsx
  packages/platform-components/src/components/tabs/tabs.stories.tsx
  packages/platform-components/src/components/text/text.stories.tsx
  packages/platform-components/src/components/user-card/user-card.stories.tsx
  packages/platform-components/src/utils/split-into-columns.test.ts
  packages/tgc/src/app.tsx
  packages/tgc/src/pages/devtools/__auth/devtools__auth.scss
  packages/tgc/src/pages/devtools/__auth/devtools__auth.tsx
  packages/tgc/src/pages/devtools/devtools.tsx
  packages/tgc/src/pages/home/home.tsx
  yarn.lock
Due: yarn lint:js, yarn lint:css, yarn test

ui-kit come backed; most of mocks provided
  packages/platform-apis/api-defs.ts
  packages/platform-apis/api-endpoints-mode.ts
  packages/platform-apis/mocks/endpointToMock.ts
  packages/platform-apis/mocks/index.ts
  packages/platform-apis/mocks/messages.ts
  packages/platform-apis/mocks/overall-stats.ts
  packages/platform-apis/mocks/stats.ts
  packages/platform-apis/mocks/twitch-user-channel.ts
  packages/platform-apis/mocks/twitch-user.ts
  packages/platform-apis/slices/auth.ts
  packages/platform-apis/slices/messages.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/types/auth.ts
  packages/platform-apis/types/messages.ts
  packages/platform-apis/types/overall-stats.ts
  packages/platform-apis/utils/mockFetchBase.ts
  packages/platform-apis/utils/randUserId.ts
  packages/platform-components/stories/colors.stories.tsx
  packages/platform-components/stories/shadows.stories.tsx
  packages/platform-components/stories/ui-kit.scss
  packages/tgc/src/common.components/common-footer/common-footer.tsx
  packages/tgc/src/pages/devtools/__auth/devtools__auth.scss
  packages/tgc/src/pages/devtools/__auth/devtools__auth.tsx
  packages/tgc/src/pages/home/home.tsx
  packages/tgc/src/store/middlewares/settings.ts
  packages/tgc/src/store/store.ts
Due: yarn lint:js, yarn lint:css

all mocks are provided
  packages/platform-apis/api-defs.ts
  packages/platform-apis/mocks/endpointToMock.ts
  packages/platform-apis/mocks/twitch-user.ts
  packages/platform-apis/mocks/users.ts
  packages/platform-apis/slices/auth.ts
  packages/platform-apis/slices/overall-stats.ts
  packages/platform-apis/slices/stats.ts
  packages/platform-apis/slices/users.ts
  packages/platform-apis/utils/mockFetchBase.ts
  packages/tgc/src/pages/home/home.tsx
Due: yarn lint:js

review fix
  packages/platform-apis/bases/authFetchBase.ts
  packages/platform-apis/bases/mockFetchBase.ts
  packages/platform-apis/mocks/twitch-user.ts
  packages/platform-apis/slices/auth.ts
  packages/platform-apis/slices/messages.ts
  packages/platform-apis/slices/overall-stats.ts
  packages/platform-apis/slices/stats.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/slices/users.ts
  packages/tgc/src/common.components/common-footer/common-footer.tsx
Due: yarn lint:js
