Repository holypower777/global-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js, yarn test, yarn lint:css

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [yarn lint:js, yarn test],
    "*.{css,scss}": [yarn lint:css]
}

FR-16: обновить иконки
  packages/platform-components/src/components/header/header.scss
  packages/platform-components/src/components/icon/__bell/icon__bell.tsx
  packages/platform-components/src/components/icon/__bug/icon__bug.scss
  packages/platform-components/src/components/icon/__bug/icon__bug.tsx
  packages/platform-components/src/components/icon/__chart/icon__chart.scss
  packages/platform-components/src/components/icon/__chart/icon__chart.tsx
  packages/platform-components/src/components/icon/__circle-exc/icon__circle-exc.tsx
  packages/platform-components/src/components/icon/__circle-tick/icon__circle-tick.scss
  packages/platform-components/src/components/icon/__circle-tick/icon__circle-tick.tsx
  packages/platform-components/src/components/icon/__cross/icon__cross.tsx
  packages/platform-components/src/components/icon/__dots/icon__dots.scss
  packages/platform-components/src/components/icon/__dots/icon__dots.tsx
  packages/platform-components/src/components/icon/__flag-ru/icon__flag-ru.scss
  packages/platform-components/src/components/icon/__flag-ru/icon__flag-ru.tsx
  packages/platform-components/src/components/icon/__flag-usa/icon__flag-usa.scss
  packages/platform-components/src/components/icon/__flag-usa/icon__flag-usa.tsx
  packages/platform-components/src/components/icon/__github/icon__github.scss
  packages/platform-components/src/components/icon/__github/icon__github.tsx
  packages/platform-components/src/components/icon/__idea/icon__idea.scss
  packages/platform-components/src/components/icon/__idea/icon__idea.tsx
  packages/platform-components/src/components/icon/__like/icon__like.scss
  packages/platform-components/src/components/icon/__like/icon__like.tsx
  packages/platform-components/src/components/icon/__message-add/icon__message-add.scss
  packages/platform-components/src/components/icon/__message-add/icon__message-add.tsx
  packages/platform-components/src/components/icon/__message-text/icon__message-text.scss
  packages/platform-components/src/components/icon/__message-text/icon__message-text.tsx
  packages/platform-components/src/components/icon/__message/icon__message.scss
  packages/platform-components/src/components/icon/__message/icon__message.tsx
  packages/platform-components/src/components/icon/__more-circle/icon__more-circle.scss
  packages/platform-components/src/components/icon/__more-circle/icon__more-circle.tsx
  packages/platform-components/src/components/icon/__square-tick/icon__square-tick.tsx
  packages/platform-components/src/components/icon/__star/icon__star.scss
  packages/platform-components/src/components/icon/__star/icon__star.tsx
  packages/platform-components/src/components/icon/__triangle-exc/icon__triangle-exc.tsx
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/notifications/__snackbar/notifications__snackbar.scss
  packages/platform-components/src/components/notifications/__snackbar/notifications__snackbar.tsx
Due: yarn lint:js, yarn test, yarn lint:css

FR-20: notification bar
  global-chat.json
  packages/platform-components/package.json
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/desk-card/__dense/desk-card__dense.tsx
  packages/platform-components/src/components/desk-card/__stats/desk-card__stats.scss
  packages/platform-components/src/components/desk-card/__stats/desk-card__stats.tsx
  packages/platform-components/src/components/desk-card/__user/desk-card__user.scss
  packages/platform-components/src/components/desk-card/__user/desk-card__user.tsx
  packages/platform-components/src/components/desk-card/desk-card.scss
  packages/platform-components/src/components/desk-card/desk-card.tsx
  packages/platform-components/stories/cards/desk-card-stats.story.tsx
  packages/platform-components/stories/cards/desk-card-user.story.tsx
  packages/platform-components/stories/cards/desk-card.story.tsx
  packages/platform-components/stories/constants.ts
  yarn.lock
Due: yarn lint:js, yarn test, yarn lint:css

FR-20: notification bar; mobile fix
  packages/platform-components/src/components/desk-card/__stats/desk-card__stats.scss
  packages/platform-components/src/components/desk-card/desk-card.scss
Due: yarn lint:css

FR-20: notification bar; defaul export added
  packages/platform-components/index.ts
Due: yarn lint:js, yarn test

FR-21: переделка страницы home
  packages/app/src/components/home/home.scss
  packages/app/src/components/home/home.tsx
  packages/platform-apis/api-defs.ts
  packages/platform-apis/index.ts
  packages/platform-apis/slices/overall-stats.ts
  packages/platform-apis/types/overall-stats.ts
  packages/platform-components/index.ts
  packages/platform-components/src/components/desk-card/desk-card.scss
  packages/platform-components/src/components/desk-card/desk-card.tsx
Due: yarn lint:js, yarn test, yarn lint:css

FR-25: username suggestions
  packages/app/src/common.components/common-header/common-header.tsx
  packages/app/src/components/home/home.tsx
  packages/platform-apis/api-defs.ts
  packages/platform-apis/slices/overall-stats.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/types/query.ts
  packages/platform-components/src/components/header/header.tsx
  packages/platform-components/src/components/input/input.scss
  packages/platform-components/src/components/input/input.tsx
Due: yarn lint:js, yarn test, yarn lint:css

FR-27: обновление токенов под капотом, авторизационный процесс
  lerna-debug.log
  package.json
  packages/app/package.json
  packages/app/src/app.tsx
  packages/app/src/common.components/common-header/common-header.tsx
  packages/app/src/components/home/home.tsx
  packages/app/src/components/user-history/chat/__messages/chat__messages.tsx
  packages/app/src/components/user-history/chat/__messages/infinite-scroll-wrapper.tsx
  packages/app/src/components/user-history/chat/chat.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/containers/notification-provider/notification-provider.tsx
  packages/app/src/containers/user-provider/user-provider.tsx
  packages/app/src/store/slices/settings.ts
  packages/app/src/store/slices/twitch-user.ts
  packages/app/src/store/slices/user.ts
  packages/app/src/store/store.ts
  packages/platform-apis/api-defs.ts
  packages/platform-apis/index.ts
  packages/platform-apis/package.json
  packages/platform-apis/slices/auth.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/slices/users.ts
  packages/platform-apis/types/auth.ts
  packages/platform-apis/types/body.ts
  packages/platform-apis/types/error.ts
  packages/platform-apis/types/index.ts
  packages/platform-apis/types/user.ts
  packages/platform-apis/utils/authFetchBase.ts
  packages/platform-components/src/components/constants.ts
  webpack.config.js
  yarn.lock
Due: yarn lint:js, yarn test

FR-28: нотификейшн о статусе оставшихся запросов
  global-chat.json
  packages/platform-apis/slices/twitch-users.ts
Due: yarn lint:js, yarn test

Yandex metrika added
  static/index.html
Due: none

minor auth link fix
  packages/platform-components/src/components/desk-card/__user/desk-card__user.tsx
  packages/platform-components/src/components/header/__user-panel/header__user-panel.tsx
Due: yarn lint:js, yarn test

FR-26: убрать скролл на сообщениях
  packages/platform-components/src/components/chat-message/chat-message.scss
Due: yarn lint:css

FR-24: ссылки в константах
  packages/app/src/common.components/common-footer/common-footer.tsx
  packages/app/src/common.components/common-header/common-header.tsx
  packages/app/src/components/live-chat/__chat/live-chat__chat.tsx
  packages/app/src/components/overall-stats/__stats/__usernames/stats__usernames.tsx
  packages/app/src/components/user-history/chat/__messages/chat__message.tsx
  packages/app/src/components/user-history/chat/chat.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/desk-card/__user/desk-card__user.tsx
  packages/platform-components/src/components/desk-card/desk-card.tsx
  packages/platform-components/src/components/header/__menu/header__menu.tsx
  packages/platform-components/src/components/header/__user-panel/__user-panel__info/__user-panel__info.tsx
  packages/platform-components/src/components/header/__user-panel/header__user-panel.tsx
  packages/platform-components/src/components/header/header.tsx
Due: yarn lint:js, yarn test

FR-30: перенос логики запросов из компонентов в platform-apis, переход на lazy query
  global-chat.json
  packages/app/src/app.tsx
  packages/app/src/common.components/common-header/common-header.tsx
  packages/app/src/common.components/index.ts
  packages/app/src/components/dev-page/dev-page.tsx
  packages/app/src/components/home/home.tsx
  packages/app/src/components/live-chat/live-chat.tsx
  packages/app/src/components/overall-stats/overall-stats.tsx
  packages/app/src/components/user-history/chat/__messages/chat__message.tsx
  packages/app/src/components/user-history/chat/__messages/chat__messages.tsx
  packages/app/src/components/user-history/chat/chat.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/containers/error-boundary/error-boundary.tsx
  packages/app/src/containers/location-provider/location-provider.tsx
  packages/app/src/containers/user-provider/user-provider.tsx
  packages/app/src/store/middlewares/channels.ts
  packages/app/src/store/middlewares/settings.ts
  packages/app/src/store/slices/channels.ts
  packages/app/src/store/slices/overall-stats.ts
  packages/app/src/store/slices/twitch-user.ts
  packages/app/src/store/slices/user.ts
  packages/app/src/store/store.ts
  packages/platform-apis/api-defs.ts
  packages/platform-apis/index.ts
  packages/platform-apis/package.json
  packages/platform-apis/slices/auth.ts
  packages/platform-apis/slices/messages.ts
  packages/platform-apis/slices/overall-stats.ts
  packages/platform-apis/slices/subcriber-badges.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/slices/users.ts
  packages/platform-apis/types/auth.ts
  packages/platform-apis/types/index.ts
  packages/platform-apis/types/messages.ts
  packages/platform-apis/types/overall-stats.ts
  packages/platform-apis/types/twitch-user-channel.ts
  packages/platform-apis/types/user.ts
  packages/platform-apis/utils/authFetchBase.ts
  packages/platform-components/src/components/user-card/__stats/user-card__stats.tsx
  yarn.lock
Due: yarn lint:js, yarn test

FR-31: Авторизационные и платные заглушки
  global-chat.json
  packages/app/src/app.tsx
  packages/app/src/components/no-limits/no-limits.tsx
  packages/app/src/components/overall-stats/overall-stats.tsx
  packages/app/src/components/user-history/user-history.scss
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/store/middlewares/errors.ts
  packages/app/src/store/slices/settings.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-components/index.ts
  packages/platform-components/package.json
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/desk-card/__user/desk-card__user.tsx
  packages/platform-components/src/components/header-text/header-text.tsx
  packages/platform-components/src/components/header/__user-panel/header__user-panel.tsx
  packages/platform-components/src/components/icon/__eye-slash/icon__eye-slash.scss
  packages/platform-components/src/components/icon/__eye-slash/icon__eye-slash.tsx
  packages/platform-components/src/components/icon/__lock/icon__lock.scss
  packages/platform-components/src/components/icon/__lock/icon__lock.tsx
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/plug/plug.scss
  packages/platform-components/src/components/plug/plug.tsx
  packages/platform-components/src/components/text/text.tsx
  packages/platform-components/src/design/main.scss
  packages/platform-components/src/typings/common.ts
  packages/platform-components/stories/constants.ts
  packages/platform-components/stories/plug/plug.story.tsx
  yarn.lock
Due: yarn lint:js, yarn test, yarn lint:css

FR-32: некликабельная кнопка logout, курсор не поинтер на карточке пользователя
  global-chat.json
  packages/app/src/common.components/common-footer/common-footer.scss
  packages/app/src/components/home/home.tsx
  packages/app/src/components/no-limits/no-limits.tsx
  packages/app/src/components/overall-stats/__plots/overall-stats__plots.tsx
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/desk-card/__user/desk-card__user.scss
Due: yarn lint:js, yarn test, yarn lint:css

redirect to main domain added
  packages/app/src/containers/location-provider/location-provider.tsx
Due: yarn lint:js, yarn test

message fix
  global-chat.json
Due: none

FR-33: затемнить кнопки
  packages/platform-components/src/components/chat-message/chat-message.scss
  packages/platform-components/src/components/icon/__reply/icon__reply.scss
  packages/platform-components/src/components/user-card/__header/user-card__header.scss
  packages/platform-components/src/design/colors.scss
Due: yarn lint:css

star icon stroke changed to scorpion
  packages/platform-components/src/components/user-card/__header/user-card__header.scss
Due: yarn lint:css

FR-14: Общая информация
  global-chat.json
  packages/app/src/app.tsx
  packages/app/src/common.components/common-footer/common-footer.scss
  packages/app/src/common.components/common-footer/common-footer.tsx
  packages/app/src/components/about/about.scss
  packages/app/src/components/about/about.tsx
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/header/__menu/header__menu.tsx
  packages/platform-components/src/components/header/header.tsx
Due: yarn lint:js, yarn test, yarn lint:css

FR-34: suggestions выкидывает белый экран, при поиске некоторых людей
  packages/platform-apis/slices/twitch-users.ts
Due: yarn lint:js, yarn test

FR-37: Заглушки пользователь без сообщений и пользователь не найден
  .storybook/preview.js
  global-chat.json
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/store/middlewares/errors.ts
  packages/platform-components/src/components/constants.ts
  packages/platform-components/src/components/icon/__hierarchy/icon__hierarchy.scss
  packages/platform-components/src/components/icon/__hierarchy/icon__hierarchy.tsx
  packages/platform-components/src/components/icon/__message-remove/icon__message-remove.scss
  packages/platform-components/src/components/icon/__message-remove/icon__message-remove.tsx
  packages/platform-components/src/components/icon/__search-zoom-out/icon__search-zoom-out.scss
  packages/platform-components/src/components/icon/__search-zoom-out/icon__search-zoom-out.tsx
  packages/platform-components/src/components/icon/icon.tsx
  packages/platform-components/src/components/plug/plug.scss
  packages/platform-components/src/components/plug/plug.tsx
Due: yarn lint:js, yarn test, yarn lint:css

FR-40: интегрировать react-helmet
  global-chat.json
  packages/app/package.json
  packages/app/src/components/home/home.tsx
  packages/app/src/components/live-chat/live-chat.helmet.tsx
  packages/app/src/components/live-chat/live-chat.tsx
  packages/app/src/components/overall-stats/overall-stats.helmet.tsx
  packages/app/src/components/overall-stats/overall-stats.tsx
  packages/app/src/components/user-history/user-history.helmet.tsx
  packages/app/src/components/user-history/user-history.tsx
  packages/app/src/containers/location-provider/location-provider.tsx
  static/index.html
  yarn.lock
Due: yarn lint:js, yarn test

FR-43: Глобальная история поиска для главной страницы
  global-chat.json
  packages/app/src/components/home/__searches/home__searches.scss
  packages/app/src/components/home/__searches/home__searches.tsx
  packages/app/src/components/home/home.tsx
  packages/app/src/services/firestore.ts
  packages/app/src/store/slices/common.ts
  packages/app/src/store/store.ts
Due: yarn lint:js, yarn test, yarn lint:css

Updated react packages and @types for react 18
  package.json
  packages/app/package.json
  packages/app/src/app.tsx
  packages/platform-apis/package.json
  packages/platform-components/package.json
  yarn.lock
Due: yarn lint:js, yarn test

yarn lock update
  yarn.lock
Due: none

home fix
  packages/app/src/components/home/home.tsx
Due: yarn lint:js, yarn test

minor fix
  package.json
  packages/platform-components/src/components/segmented-toggle/segmented-toggle.stories.tsx
Due: yarn lint:js, yarn test

Detached search from common-header within separate component
  global-chat.json
  packages/platform-components/src/components/input/input.tsx
  packages/tgc/src/app.tsx
  packages/tgc/src/common.components/search-input/__suggestions/search-input__suggestions.tsx
  packages/tgc/src/common.components/search-input/search-input.tsx
Due: yarn lint:js, yarn test

Removed string for deprecated search by user id
  global-chat.json
Due: none

Fixed search-input__suggestions.tsx
  packages/platform-components/src/components/input/input.stories.tsx
  packages/tgc/src/app.tsx
  packages/tgc/src/common.components/search-input/__suggestions/search-input__suggestions.scss
  packages/tgc/src/common.components/search-input/__suggestions/search-input__suggestions.tsx
  packages/tgc/src/common.components/search-input/search-input.scss
  packages/tgc/src/common.components/search-input/search-input.tsx
  packages/tgc/src/utils/validate.ts
Due: yarn lint:js, yarn test, yarn lint:css

create ci
  .github/workflows/ci.yml
Due: none

ci fix
  .github/workflows/ci.yml
Due: none

ci checkout fix
  .github/workflows/ci.yml
Due: none

FR-50: Search input
  global-chat.json
  packages/platform-components/src/components/input/input.tsx
  packages/tgc/src/common.components/search-input/__suggestions/search-input__suggestions.scss
  packages/tgc/src/common.components/search-input/__suggestions/search-input__suggestions.tsx
  packages/tgc/src/common.components/search-input/search-input.scss
  packages/tgc/src/common.components/search-input/search-input.tsx
  packages/tgc/src/utils/validate.ts
Due: yarn lint:js, yarn test, yarn lint:css

FR-51: api refactoring
  .eslintrc.js
  .github/workflows/ci.yml
  .lintstagedrc
  .prettierrc.json
  package.json
  packages/platform-apis/api-defs.ts
  packages/platform-apis/index.ts
  packages/platform-apis/slices/auth.ts
  packages/platform-apis/slices/messages.ts
  packages/platform-apis/slices/overall-stats.ts
  packages/platform-apis/slices/stats.ts
  packages/platform-apis/slices/subcriber-badges.ts
  packages/platform-apis/slices/twitch-users.ts
  packages/platform-apis/slices/users.ts
  packages/platform-apis/types/body.ts
  packages/platform-apis/types/error.ts
  packages/platform-apis/types/index.ts
  packages/platform-apis/types/messages.ts
  packages/platform-apis/types/overall-stats.ts
  packages/platform-apis/types/query.ts
  packages/platform-apis/types/stats.ts
  packages/platform-apis/types/twitch-user-channel.ts
  packages/platform-apis/types/twitch-user.ts
  packages/platform-apis/types/user.ts
  packages/platform-apis/utils/authFetchBase.ts
  packages/platform-apis/utils/convertApiToDTO.test.ts
  packages/platform-apis/utils/convertApiToDTO.ts
  packages/tgc/src/app.tsx
  packages/tgc/src/common.components/search-input/search-input.tsx
  packages/tgc/src/types/global.d.ts
  packages/tgc/webpack.config.js
  packages/tgc/webpack.prod.js
  webpack.config.js
  yarn.lock
Due: yarn lint:js, yarn test
